<div style="background-color:#FFCC00; height:87vh;">
  <div class="columns is-mobile">
    <div class="column is-half is-centered">
            <figure class="image is324x32">
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>        
                  <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                  </figure>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
        <div class="box">
            <figure class="image is-32x32">
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
      </div>
      <div class="box">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
          </figure>
    </div>
    </div>
  </div> 
</div>