  <article class="media" style="

background-color: #80808085;
padding: 12px;
border-radius: 4%;
width: 100%;">
        <figure class="media-left">
            <p class="image is-64x64">
              <img src="../../../../assets/images/Overground@3x.png">
            </p>
          </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>@train_lover10</strong> 
          <br>
          <small> Level: High Speed Conductor</small>
        </p>
      </div>
    </div>
  </article>