<div style="display:flex;">
      <figure class="padding-right">
            <p class="image is-64x64">
                  <img src="../../../../assets/images/First Report.png">
            </p>
      </figure>
      <figure class="padding-right">
                  <p class="image is-64x64">
                        <img src="../../../../assets/images/5 Reports.png">
                  </p>
            </figure>
            <figure class="padding-right">
                        <p class="image is-64x64">
                              <img src="../../../../assets/images/All Star (3).png">
                        </p>
                  </figure>
</div>