<article class="media" style="

background-color: #b6b2b285;
padding: 9px;
border-radius: 4%;
width: 100%;">
    <figure class="media-left">
        <span class="icon is-large" style="font-size: 30px; color: yellow"><i class="fas fa-circle has-warning is-medium"></i></span>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>King's Cross</strong> 
          <span class="tag is-danger is-small list-item-box-margin">
              5 REPORTS
            </span>
          <br>
          <small> Approx. repair time: 6 hours</small>
        </p>
      </div>
    </div>
  </article>