<article class="media" style="

background-color: #9b999985;
padding: 12px;
border-radius: 4%;
width: 100%;">
    <figure class="media-left">
        <span class="icon is-large" style="font-size: 30px; color: yellow"><i class="fas fa-circle has-warning is-medium"></i></span>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>@train_lover10</strong> 
          <br>
          <small> Level: High Speed Conductor</small>
        </p>
      </div>
    </div>
  </article>