<section class="is-fullscreen-height-and-width">
  <div class="has-content-centered">
    <div class="columns">
      <div class="column has-text-centered"> 
        <h3 class="title is-4">What do you wish to report?</h3> 
      </div>
    </div>
    <div class="columns is-mobile is-centered has-padding-gap">
      <a class="column is-5 button-box-form has-text-centered" (click)=test($event)>
        <figure class="image is-64x64 button-box-form--image is-centered">
          <img src="../../../assets/images/Not Available.png">
        </figure>
        <span> {{buttonValues[0]}} </span>
      </a>
      <a class="column is-5 button-box-form has-text-centered" (click)=test($event)>
          <figure class="image is-64x64 button-box-form--image is-centered">
            <img src="../../../assets/images/Dirty Lift.png">
          </figure>
          <span> {{buttonValues[1]}} </span>
        </a>
    </div>
    <div class="columns is-mobile is-centered has-padding-gap">
      <a class="column is-5 button-box-form has-text-centered" (click)=test($event)>
          <figure class="image is-64x64 button-box-form--image">
              <img src="../../../assets/images/Bumpy Ride (1).png">
            </figure>
            <span> {{buttonValues[2]}} </span>
          </a>
      <a class="column is-5 button-box-form has-text-centered" (click)=test($event)>
          <figure class="image is-64x64 button-box-form--image">
              <img src="../../../assets/images/Misuse.png">
            </figure>
            <span> {{buttonValues[3]}} </span>
          </a>
    </div>
  </div>

  <app-steps-button buttonTitle="Next"></app-steps-button>
</section>