app-form-incidence {
  background-color: #FFCC00;
}

.is-fullscreen-height-and-width {
  height: 105vh;
  width: 100vw;
  background-color: #FFCC00;
}

.has-content-centered {
  padding-top: 40%;
}

.button-box-form {
  height: auto;
  border-radius:10%;
  background-color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &--image {
    margin: auto;
  }
}

.button-box-form:hover {
  background-color:black;
  border: 3px solid black;
}

.has-padding-gap {
  padding-bottom: 1rem
}