<section class="is-fullscreen-height-and-width">
  <div class="has-content-centered">
    <div class="columns">
      <div class="column has-text-centered"> 
        <h3 class="title is-4">What do you wish to report?</h3> 
      </div>
    </div>
    <div class="columns is-mobile is-centered has-padding-gap">
      <div class="column is-4 has-background-white button-box-form">
        <figure class="image is-64x64">
          <img src="../../../assets/images/Not Available.png">
        </figure>
        <h3 class="subtitle"> Not Available </h3>
      </div>
      <div class="column is-4 is-offset-1 has-background-white button-box-form">
          <figure class="image is-64x64 is-centered">
            <img src="../../../assets/images/Dirty Lift.png">
          </figure>
          <h3 class="subtitle"> Dirty </h3>
      </div>
    </div>
    <div class="columns is-mobile is-centered has-padding-gap">
      <div class="column is-4 has-background-white button-box-form">
          <figure class="image is-64x64">
              <img src="../../../assets/images/Bumpy Ride (1).png">
            </figure>
            <h3 class="subtitle"> Bumpy Ride </h3>
      </div>
      <div class="column is-4 is-offset-1 has-background-white button-box-form">
          <figure class="image is-64x64">
              <img src="../../../assets/images/Misuse.png">
            </figure>
            <h3 class="subtitle"> Damage and Vandalism </h3>
      </div>
    </div>
  </div>

  <app-steps-button buttonTitle="Next"></app-steps-button>
</section>