app-form-incidence {
  background-color: #FFCC00;
}

.is-fullscreen-height-and-width {
  height: 105vh;
  width: 100vw;
  background-color: #FFCC00;
}

.has-content-centered {
  padding-top: 50%;
}

.button-box-form {
  height: 15vh;
}