<section class="is-fullscreen-height-and-width">
  <div class="has-content-centered">
    <div class="columns is-mobile is-centered">
      <div class="column is-4 has-background-white button-box-form">
        Not available
      </div>
      <div class="column is-4 is-offset-1 has-background-white button-box-form">
        Dirty
      </div>
    </div>
    <div class="columns is-mobile is-centered">
      <div class="column is-4 has-background-white button-box-form">
        Bumpy Ride
      </div>
      <div class="column is-4 is-offset-1 has-background-white button-box-form">
        Damage and Vandalism
      </div>
    </div>
  </div>
</section>