<section class="is-fullscreen-height-and-width">
    <div class="has-content-centered">
      <div class="columns">
        <div class="column has-text-centered">
          <h3 class="title is-4">Where is this lift?</h3>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-10 is-offset-1">
          <p class="title is-6">Station suggested based on your location: </p>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-10 is-offset-1 has-background-white">
          <label class="checkbox has-background-white">
              <input type="checkbox"> King's Cross Station </label>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-10 is-offset-1">
          <p class="title is-6"> More suggested Stations: </p>
        </div>
      </div>
      <div *ngIf="locations" class="myBox">
      <div  class="columns is-mobile">
        <div class="column is-10 is-offset-1 has-background-white" (click)=click(location.node)>
            <label class="checkbox">
                <input type="checkbox">
                Angel Station
          </label>
        </div>
        <div class="column is-10 is-offset-1 has-background-white" (click)=click(location.node)>
          <label class="checkbox">
              <input type="checkbox">
              Caledonian Road Station
        </label>
        </div>
          <div class="column is-10 is-offset-1 has-background-white" (click)=click(location.node)>
            <label class="checkbox">
                <input type="checkbox">
              Moorgate Station
          </label>
        </div>
      </div>
      </div>
    </div>
    <app-steps-button buttonTitle="Submit" style="margin-top: 15%"></app-steps-button>
  </section>
