/* You can add global styles to this file, and also import other style files */
$yellow: #FFCC00 !important;

@import "../node_modules/bulma/css/bulma.css";
@import "node_modules/bulma/sass/utilities/functions.sass";

$button-color: blue !default;
$button-background-color: blue !default;