<!-- <meta id="my-data" data-name='{{ data }}'> -->

<!-- <div id="mapid" style="width: 100px; height: 100px;"></div> -->

<!-- <div style="height: 300px;"
     leaflet 
     [leafletOptions]="options">
</div> -->

<!-- xx{{options.layers.tileLayer}}xx

<meta id="my-data" data-name='{{ data }}'>

<div id="mapid" style="width: 100%; height: 100%;"></div> -->

<div leaflet style="height: 750px;"
     [leafletOptions]="options"
     [leafletLayers]="layers"
     [leafletLayersControl]="layersControl">
</div>
